<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an intern at
      <a class="underline-link" href="https://www.geeksforgeeks.com/" target="_blank">GeeksforGeeks</a>, published articles on Data Structures and Algorithms, Maths, Greedy Algorithms. I am studying in
      <a class="underline-link" href="http://www.iiitn.ac.in" target="_blank">IIIT Nagpur.
    </p>

    <p>
      As a software engineer aspirant, I hope to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably sleeping, cruising around,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
