<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/huzaifa06/mymed" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/huzaifa06/mymed" target="_blank">MyMed</a>
        </div>
        <p>A system that stores data and enables functionality that allows users to buy medicines via an online network. To be precise, an internet-based vendor that sells medicines and allows users an option to buy from their mobile, laptop etc.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic">
        <a href="https://github.com/huzaifa06/terminal-based-file-manager" target="_blank">
            <img src="{{site.baseurl}}/img/featured/screentime/1.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/huzaifa06/terminal-based-file-manager" target="_blank">Terminal Based File Manager</a>
        </div>
        <p>A functional Terminal Based File Explorer working in normal and command mode. Read, display and open files and directories in Normal mode. Create, Delete, Goto, Snapshot and dump files and directories in Command mode.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/huzaifa06/wikisearch" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/huzaifa06/wikisearch" target="_blank">WikiSearch</a>
        </div>
        <p>A search engine indexed on the latest corpus of EnglishWikipedia, with full support for field queries.</p>
      </figcaption>
    </div>
  </div>
</section>
